In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
# Load data

contracts = pd.read_csv('contracts.csv')

contracts

,Name,Age,Position,Team,Contract Start Date,Contract Type,NHL Clause,Way Clause,Term,Total Value,AAV
0,Tristan Luneau,19,RD,ANA,"Sep. 5, 2023",ELC,NaN,2-way,3,"$2,850,000","$896,667"
1,Alex Stalock,35,G,ANA,"Aug. 7, 2023",35+ (UFA),NaN,1-way,1,"$800,000","$800,000"
2,Troy Terry,25,RW,ANA,"Aug. 2, 2023",Stnd (RFA),NaN,1-way,7,"$49,000,000","$7,000,000"
3,Noah Warren,18,RD,ANA,"Jul. 19, 2023",ELC,NaN,2-way,3,"$2,850,000","$896,667"
4,Lukas Dostal,23,G,ANA,"Jul. 16, 2023",Stnd (RFA),NaN,2-way,2,"$1,625,000","$812,500"
...,...,...,...,...,...,...,...,...,...,...,...
13945,Johnathan Kovacevic,23,RD,WPG,"Aug. 12, 2021",Stnd (RFA),NaN,2-way,1,"$750,000","$750,000"
13946,Andrew Copp,26,"C, LW, RW",WPG,"Aug. 12, 2021",Stnd (RFA),NaN,1-way,1,"$3,640,000","$3,640,000"
13947,Neal Pionk,25,RD,WPG,"Aug. 11, 2021",Stnd (RFA),NaN,1-way,4,"$23,500,000","$5,875,000"
13948,Logan Stanley,23,LD,WPG,"Aug. 4, 2021",Stnd (RFA),NaN,1-way,2,"$1,800,000","$900,000"
13949,Austin Poganski,25,RW,WPG,"Jul. 31, 2021",Stnd (UFA),NaN,2-way,1,"$750,000","$750,000"

In [31]:
contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13950 entries, 0 to 13949
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 13950 non-null  object
 1   Age                  13950 non-null  int64
 2   Position             13950 non-null  object
 3   Team                 13950 non-null  object
 4   Contract Start Date  13950 non-null  object
 5   Contract Type        13950 non-null  object
 6   NHL Clause           3248 non-null   object
 7   Way Clause           13950 non-null  object
 8   Term                 13950 non-null  int64
 9   Total Value          13950 non-null  object
 10  AAV                  13950 non-null  object
dtypes: int64(2), object(9)
memory usage: 1.2+ MB

In [32]:
contracts['Way Clause'].value_counts()

2-way    8283
1-way    5667
Name: Way Clause, dtype: int64

In [33]:
# Drop every contract besides 1-way

contracts = contracts[contracts['Way Clause'] == '1-way']

contracts.drop('Way Clause', axis = 1, inplace=True)

contracts.reset_index(inplace=True)

contracts.drop('index', axis=1, inplace=True)

contracts

/Users/bdogellis/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Name,Age,Position,Team,Contract Start Date,Contract Type,NHL Clause,Term,Total Value,AAV
0,Alex Stalock,35,G,ANA,"Aug. 7, 2023",35+ (UFA),NaN,1,"$800,000","$800,000"
1,Troy Terry,25,RW,ANA,"Aug. 2, 2023",Stnd (RFA),NaN,7,"$49,000,000","$7,000,000"
2,Robert HÃ¤gg,28,LD,ANA,"Jul. 4, 2023",Stnd (UFA),NaN,1,"$775,000","$775,000"
3,Radko Gudas,33,RD,ANA,"Jul. 1, 2023",Stnd (UFA),NaN,3,"$12,000,000","$4,000,000"
4,Alex Killorn,33,"RW, LW",ANA,"Jul. 1, 2023",Stnd (UFA),NaN,4,"$25,000,000","$6,250,000"
...,...,...,...,...,...,...,...,...,...,...
5662,Jansen Harkins,25,"LW, C",WPG,"Jul. 16, 2022",Stnd (RFA),NaN,2,"$1,700,000","$850,000"
5663,David Rittich,29,G,WPG,"Jul. 13, 2022",Stnd (UFA),NaN,1,"$900,000","$900,000"
5664,Andrew Copp,26,"C, LW, RW",WPG,"Aug. 12, 2021",Stnd (RFA),NaN,1,"$3,640,000","$3,640,000"
5665,Neal Pionk,25,RD,WPG,"Aug. 11, 2021",Stnd (RFA),NaN,4,"$23,500,000","$5,875,000"
5666,Logan Stanley,23,LD,WPG,"Aug. 4, 2021",Stnd (RFA),NaN,2,"$1,800,000","$900,000"

In [7]:
contracts['Contract Start Date'] = pd.to_datetime(contracts['Contract Start Date'])

contracts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5667 entries, 1 to 13948
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 5667 non-null   object
 1   Age                  5667 non-null   int64
 2   Position             5667 non-null   object
 3   Team                 5667 non-null   object
 4   Contract Start Date  5667 non-null   datetime64[ns]
 5   Contract Type        5667 non-null   object
 6   NHL Clause           2052 non-null   object
 7   Term                 5667 non-null   int64
 8   Total Value          5667 non-null   object
 9   AAV                  5667 non-null   object
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 487.0+ KB